nav {
    position: fixed;
/*    top: 0;*/
    vertical-align: middle;
    z-index: 999;
}

nav img {
    width: 100px;
}

body {
    background-color: #f8f8f8;
    max-width: 100% !important;
}

.header {
    background-color: #ffffff;
}

hr {
    width: 100%;
    color: #E0E0E0;
}

#card-signin {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.btn-success {
    background-color: #00835D;
}

.forgot {
    color: #2F4EA5;
}

.check {
    margin-left: 20px;
}

.btn-outline-secondary:hover {
    background-color: #ffffff;
    color: #868686
}

a {
    text-decoration: none;
}

.text {
    margin-top: 10px;
    width: 90%;
    display: inline-block;
}

h2 {
    text-align: center;
}

.exit {
    position: fixed;
    float: right !important;
    padding-left: 86%;
    top: 3;
    z-index: 999;
    text-decoration: none;
}

#invite {
    background-color: #F4F8FE;
    width: 80%;
    height: 10%;
    border-color: color: #308CD4;
    text-align: center;
}

.fa-paper-plane {
    font-size: 22px;
    color: #308CD4;
}

a:hover{
    text-decoration: none;
}

.exit a {
    color: black;
}

/**//**//**//**//**//**//**//**/
/**//*MANAGE SECTION*//**//**/
/**//**//**//**//**//**//**/
#toprow{
    background-color: #F8F8F8;
}
#toprow1{
    background-color: #F8F8F8;
    height: 73px;
    border-bottom: 1.5px solid #DDDDDD;
}
.phead{
    font-size: 28px;
}
/*#managebtn{
    position: relative;
    background-color: #F8F8F8;
    border: none; 
    padding: 14px 16px; 
    cursor: pointer;
}*/
#managebtn:hover{
    text-decoration: none;
}
.para{
    padding-top: 50px;
    padding-left: 30px;
}
.tooltiptext {
  visibility: hidden;
  width: 200px;
  height: 33px;
  font-size: 12px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  border-radius: 6px;
  bottom: 100%;
  left: 50%; 
  margin-left: -100px;
  margin-bottom: -6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}
.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
 }
#managebtn:hover .tooltiptext {
  visibility: visible;
}
#invitebtn{
    margin-top: 11%;
    margin-left: 3%;
    font-family: Lato, Helvetica, sans-serif;
    background-color: #027B5A;
    font-size: 17px;
}
#invitebtn:hover{
    -moz-box-shadow: 0 0 3px #027B5A;
    -webkit-box-shadow: 0 0 3px #027B5A;
    box-shadow: 0 0 3px #027B5A;
}
.has-search{
    margin-left: 2.4%;
    width: 100%;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control:focus{
    border: 1px solid black;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  cursor: default;
  color: #727172;
  font-size: 15px;
}
#filterbtn{
    background-color: #fff;
    border: 1px solid black;
    font-family: Lato, Helvetica, sans-serif;
    margin-left: 8%;
    font-size: 17px;
    height: 2.375rem;
}
.filterimg{
    height: 18px;
}
.filtername{
    padding-left: 5px;
    color: black
}
#angle{
    padding-left: 43px;
    font-size: 14px;
    color: black;
}
#resetlink a{
    color: inherit;

}
.managetable td{
    font-size: 14px;
}
.mail{
    color: #666566;
    margin-left: 9%;
    margin-bottom: 10%;
}
.username{
    margin-left: 1%;
}
#optionIcon{
    color: black;
    position: fixed;
}
#iconlink :hover{
    border: 1px solid black;
    -webkit-border-radius: 3px 3px 3px 3px;

}
#iconlink{
    color: inherit;
}
.tablehead{
    color: #616061;
    font-size: 14px;
}
.tablehead a{
    color: inherit;
}
.tablehead a:hover{
    color: inherit;
    text-decoration: none;
    cursor: default;
}
#downicon{
    font-size: 11px;
    padding-left: 2px;
}
.rounded{
    height: 40px;
}
#userlist{
    height: 20px;
    border: 1px solid #6B6A6B;
}
#optionButton{
    outline:none;
    margin-left: 100%;
    padding: 0;
    border: none;
    background: none;
    position: relative;
}
#showmember{
    text-decoration: none;
    color: #1164A3;
}
#circle{
    font-size: 5px;
}
#ruler{
    font-size: 11px;
}
#external{
    font-size: 11px;
    padding-left:5%;
}

.fix {
  position: fixed;
  width:100%;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  height: 600px;
  overflow-y: scroll;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

}
/*
Hello
*/

@media (min-width: 576px) {
  .modal-dialog { max-width: none; }
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  height: auto;
  min-width: 100%;
}

.launch {
  height: 20px;
  width: 20px;
}

.nav-link {
  font-size: 14px;
}