<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- 	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vidaloka"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Slack</title>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#"><img src="{% static 'img/icon_slack.svg' %}"></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto pt-1 pb-1 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create a new workplace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Find your workplace</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="{% url 'manage' %}">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>

</div>
<hr class="mt-0 mb-0"/>

<div class="container">
    <div class="row pt-3">
        <div class="ml-auto mr-auto card" id="card-signin">
            <div class="card-body pt-2">
                <h1 class="card-title">Sign in to SiBS</h1>
                <h6 class="card-subtitle mb-2">sibsworld.slack.com</h6>
                <p class="card-text" align="left"><br/>Enter your <b>email address</b> and <b>password</b>.</p>
                <form>
                    <div class="form-group">

                        <input name="" class="form-control" placeholder="you@example.com" type="email">
                    </div>
                    <div class="form-group">

                        <input class="form-control" placeholder="password" type="password"><br/>
                        <button type="Sign in" class="btn btn-success btn-block"> Sign in</button>

                    </div>
                    <div class="form-group text-left check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">Remember me</label>
                    </div>
                    <div class="row">
                        <div class="form-check col-md-12">
                            <a href="#" class="forgot">Forgot Password?</a>
                            <a href="#" class="forgot">· Forgot which email you used?</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
