<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- 	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vidaloka"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Team Admin | Insight Workshop Slack</title>
</head>
<body>
<div class="ml-auto exit mt-5">
    <a href="#">
        <i class="fa fa-times ml-2 mr-2"></i><br/>
        <!-- 			<p class="ml-2 mr-2" id="times">&times;</p> -->
        <p class="mr-5">esc</p>
    </a>
</div>

<div class="container">
    <div class="row col-sm-10 mr-auto ml-auto pt-5">
        <div class="card ml-auto mr-auto pt-3" id="invite">

            <p><i class="fa fa-user-plus"></i> Workspaces with paid plans can also invite guests, like contractors,
                vendors, or clients. <a href="#">See pricing plans </a></p>
        </div>

    </div>
    <div class="text-center pt-5 pb-2">
        <i class="fa fa-paper-plane"></i>
    </div>


    <h2 class="mb-5"><span class="text-muted">Invite Members to</span> <b>Insight Workshop</b></h2>

    <div class="row col-sm-8 ml-auto mr-auto pl-5">
        <div class="col-sm-6">
            <small><b>Email address</b></small>
            <br/>
            <input type="text" name="" class="form-control text" placeholder="name@example.com">
            <input type="text" name="" class="form-control text" placeholder="name@example.com">
            <input type="text" name="" class="form-control text" placeholder="name@example.com">
            <p class="mt-2"><a href="#"><i class="fa fa-plus-circle"></i> Add another</a> or <a href="#">add many at
                once</a></p>
        </div>
        <div class="col-sm-6">
            <small><b>Full Name (optional)</b></small>
            <br/>
            <input type="text" name="" class="form-control text" placeholder="Optional">
            <a href="#">
                <i class="fa fa-times"></i>
            </a>
            <input type="text" name="" class="form-control text" placeholder="Optional">
            <a href="#">
                <i class="fa fa-times"></i>
            </a>
            <input type="text" name="" class="form-control text" placeholder="Optional">
            <a href="#">
                <i class="fa fa-times"></i>
            </a>

        </div>
    </div>
    <div class="row col-sm-8 ml-auto mr-auto pl-5">
        <div class="mr-auto ml-2 pl-2">
            <p><b>Default Channels</b></p>
            <p>New members will automatically join <b>general</b> and <b>random</b>
                <a href="#" class="text-muted"><u>Edit / add</u></a>
            </p>
        </div>
    </div>
    <div class="row mt-5 col-sm-8 ml-auto mr-auto pl-5">
        <div class="col-sm-9">
            <a href="#"><i class="fa fa-link"></i>Share invite link</a>
        </div>
        <div class="col-sm-3">
            <a href="#" class="btn btn-success mb-3">Send Invitations</a>
        </div>
    </div>
    <hr style="width: 100%">
    <div class="row mt-4 col-sm-8 ml-auto mr-auto pl-5">
        <div class="col-sm-8">
            <a href="#" class="text-muted"><u><p>See pending and acepted invites</p></u></a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>