<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Team Admin | Insight Workshop Slack</title>
</head>
<body>
<div class="d-flex toggled" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">SIGNED IN AS<br/><b>Nabin Poudel IW</b></div>
        <div class="list-group list-group-flush" style="padding: 5px 20px">
            ACCOUNT
            <a href="#">Back to Slack</a>
            <a href="#">Home</a>
            <a href="#">Account & profile</a>
            <a href="#">Configure apps</a>
            <a href="#">Customize</a>
            <a href="#">About this workspace</a><br>
            ADMINISTRATION
            <a href="#">Settings & permissions</a>
            <a href="#">Manage members</a>
            <a href="#">User groups</a>
            <a href="#">Invitations</a>
            <a href="#">Billing</a>
            <a href="#">Authentication</a><br>
            OTHER<br/>
            Tour<br/>
            Download apps<br/>
            Brand guidelines<br/>
            Help<br/>
            API<br/>
            Gateways<br/>
            Pricing<br/>
            Contact<br/>
            Policies<br/>
            Out blog<br/>
            Sign out<br/>
            <br/>
            Made with <-heart-> by Slack
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fix">
            <div class="mr-auto nav-link">
                <i class="btn fas fa-bars nav-link" id="menu-toggle"></i><b>Menu</b>
            </div>
            <div class="mr-auto nav-link">
                |&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<b>INSIGHT WORKSHOP</b>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <center><i class="fa fa-rocket"></i></center>
                            Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <center><i class="fa fa-th-large"></i></center>
                            Workspaces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <center><i class="fa fa-life-ring"></i></center>
                            Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <center><img src="{% static 'img/workspace_site_launch.png' %}" class="launch"/></center>
                            Launch</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid" id="mainbody">
            <div class="row pt-5" id="toprow">
                <div class="mr-auto ml-5 pl-3 mt-5 relate">
                    <p class="para ml-5"><b class="phead">Manage members</b>&nbsp;&nbsp;<a href=""
                                                                                           title="Download a CSV member list"><i
                            class="fa fa-cloud-download-alt"><!-- <b>Download a CSV member list</b> --></i></a></p>
                </div>
                <div class="mt-5 pr-5 mr-5 relate">
                    <!-- <button id="invitebtn" type="submit" class="btn btn-success mt-5"><b>Invite People</b></button> -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success mt-5 ml-auto mr-5" data-toggle="modal"
                            data-target="#exampleModalLong">
                        Invite people
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role=""
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="">
                            <div class="modal-content">
                                <!--
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button> -->

                                <div class="modal-body">
                                    <div class="ml-auto exit mt-5" data-dismiss="modal" aria-label="Close">
                                        <a href="#">
                                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                                            <i class="fa fa-times ml-2"></i><br/>
                                            <!--      <p class="ml-2 mr-2" id="times">&times;</p> -->
                                            <p>esc</p>
                                        </a>
                                    </div>

                                    <div class="container">
                                        <div class="row col-sm-10 mr-auto ml-auto pt-5">
                                            <div class="card ml-auto mr-auto pt-3" id="invite">

                                                <p><i class="fa fa-user-plus"></i> Workspaces with paid plans can also
                                                    invite guests, like contractors, vendors, or clients. <a href="#">See
                                                        pricing plans </a></p>
                                            </div>

                                        </div>
                                        <div class="text-center pt-5 pb-2">
                                            <i class="fa fa-paper-plane"></i>
                                        </div>


                                        <h2 class="mb-5"><span class="text-muted">Invite Members to</span> <b>Insight
                                            Workshop</b></h2>

                                        <div class="row col-sm-8 ml-auto mr-auto pl-5">
                                            <div class="col-sm-6">
                                                <small><b>Email address</b></small>
                                                <br/>
                                                <input type="text" name="" class="form-control text"
                                                       placeholder="name@example.com">
                                                <input type="text" name="" class="form-control text"
                                                       placeholder="name@example.com">
                                                <input type="text" name="" class="form-control text"
                                                       placeholder="name@example.com">
                                                <p class="mt-2"><a href="#"><i class="fa fa-plus-circle"></i> Add
                                                    another</a> or <a href="#">add many at once</a></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <small><b>Full Name (optional)</b></small>
                                                <br/>
                                                <input type="text" name="" class="form-control text"
                                                       placeholder="Optional">
                                                <a href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                <input type="text" name="" class="form-control text"
                                                       placeholder="Optional">
                                                <a href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                <input type="text" name="" class="form-control text"
                                                       placeholder="Optional">
                                                <a href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="row col-sm-8 ml-auto mr-auto pl-5">
                                            <div class="mr-auto ml-2 pl-2">
                                                <p><b>Default Channels</b></p>
                                                <p>New members will automatically join <b>general</b> and <b>random</b>
                                                    <a href="#" class="text-muted"><u>Edit / add</u></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row mt-5 col-sm-8 ml-auto mr-auto pl-5">
                                            <div class="col-sm-9">
                                                <a href="#"><i class="fa fa-link"></i>Share invite link</a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#" class="btn btn-success mb-3">Send Invitations</a>
                                            </div>
                                        </div>
                                        <hr style="width: 100%">
                                        <div class="row mt-4 col-sm-8 ml-auto mr-auto pl-5">
                                            <div class="col-sm-8">
                                                <a href="#" class="text-muted"><u><p>See pending and acepted invites</p>
                                                </u></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="toprow1">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search current members">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                        <button type="button" id="filterbtn" class="btn btn-secondary btn-block dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="filter"><img src="{% static 'img/filter.png' %}" class="filterimg"><b class="filtername">Filters</b><i
                                    class="fa fa-angle-down" id="angle"></i></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" id="drop_filterbox">
                            <div class="dropdown-item">
                                Filter by<a href=""><u>Reset filters</u></a>
                            </div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="namerow">
                <div class="col-md-10 ml-auto mr-auto">
                    <table class="table table-hover managetable">
                        <thead class="tablehead">
                        <tr>
                            <th scope="col"><a href="" id="uiname">Name</a><i class="fa fa-arrow-down"
                                                                              id="downicon"></i></th>
                            <th scope="col"><a href="">Account type</a></th>
                            <th scope="col"><a href="">Billing status</a></th>
                            <th scope="col"><a href="">Authentication</a></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">
                                <img src="{% static 'img/user.png' %}" class="rounded">
                                <span class="username"><b>Nabin Poudel (you)</b></span><br/>
                                <span class="mail ml-5">pnabiniw@gmail.com</span>
                            </td>
                            <td><i class="fa fa-ruler-vertical" id="ruler"></i> Primary Owner</td>
                            <td>Active</td>
                            <td>Default</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" id="optionButton" class="" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <a href="" id="iconlink"><i class="fa fa-ellipsis-h mr-5"></i></a>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" type="button">Edit your info</button>
                                        <div class="dropdown-divider"></div>
                                        <button class="dropdown-item" type="button">Transfer ownership <i
                                                class="fa fa-external-link-alt" id="external"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" id="userhead">
                                <img src="{% static 'img/user.png' %}" class="rounded">
                                <span class="username"><b>XYZ</b></span><br>
                                <span class="mail ml-5">xyz@gmail.com</span>
                            </td>
                            <td><i class="fa fa-ruler-vertical" id="ruler"></i> Full member</td>
                            <td>Active</td>
                            <td>Default</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" id="optionButton" class="" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <a href="" id="iconlink"><i class="fa fa-ellipsis-h mr-5"></i></a>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" type="button">Change to owner</button>
                                        <button class="dropdown-item" type="button">Change to Admin</button>
                                        <button class="dropdown-item" type="button">Change to guest</button>
                                        <div class="dropdown-divider"></div>
                                        <button class="dropdown-item" type="button">Deactivate account</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover" id="table2">
                        <tbody>
                        <tr>
                            <td scope="row">
                                <img src="{% static 'img/userlist.png' %}" class="rounded" id="userlist">
                            </td>
                            <td>
                        <span><b>Didn’t find what you’re looking for? </b>Some members may be hidden because of the filters you’ve selected.
                          <a href="" id="showmember">Show all members</a>
                        </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Menu Toggle Script -->
<script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
          $(".navbar").toggleClass("fix");
          $(".relate").toggleClass("mt-5");
        });


</script>
</body>
</html>